<%= form_with model: [:admin, guitar] do |form| %>
  <% if guitar.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(guitar.errors.count, "error") %> prohibited this guitar from being saved:</h2>

      <ul>
        <% guitar.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :name, "Name:" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :price, "Price:" %>
    <%= form.number_field  :price, min: 0 %>
  </div>
  <div>
    <%= form.label :year, "Year:" %>
    <%= form.number_field  :year, min: 1900, max: Time.current.year %>
  </div>
   <div>
    <%= form.label :description, "Description:" %>
    <%= form.rich_text_area :description %>
  </div>
  <div>
    <%= form.label :images, "Upload #{controller.action_name == "edit" ? "New Images" : "Images"}" %>
    <%= form.file_field :images, multiple: true %>
  </div>
  <% if controller.action_name == 'edit' %>

    <div class="flex flex-row">
      <% guitar.images.each do |image| %>
        <div id="<%= dom_id image %>" class="flex flex-row">
          <%= image_tag cdn_for(image.variant(:thumb)) %>
          <%= link_to "X", active_storage_attachment_path(image),
              class: "text-red-500",
              data: { turbo: true, turbo_method: :delete, turbo_confirm: "Deleting images is not reversible. Make sure you want to do this" } %>
        </div>
      <% end  %>
    </div>
  <% end  %>
  <div>
    <%= form.submit 'Save', 
                    class: 'bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded' 
    %>
  </div>
<% end %>
