<div id="<%= dom_id guitar %>" class="prose">
  <h2><%= guitar.name %></h2>
  <p><%= number_to_currency guitar.price %></p>
  <p><%= guitar.description %></p>
  <p><%= guitar.year %></p>
  <div class="flex flex-row">
    <% guitar.images.each do |image| %>
      <%= image_tag cdn_for(image.variant(:thumb)) %>
    <% end  %>
  </div>
</div>
