<!DOCTYPE html>
<html>
  <head>
    <title>Dan Bills Guitars</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-main-background" data-controller="lightbox">
    <%= render "layouts/navbar" %>
    <div style="min-height: 100vh; max-width: 1127px;" class="bg-secondary-background container mx-auto">
      <main class="container mx-auto px-5 flex">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
